/* =========================================
   REVEAL
========================================= */

.reveal{

    opacity:0;

    transform:translateY(50px);

    transition:
        opacity .7s ease,
        transform .7s ease;

}

.reveal.show{

    opacity:1;

    transform:translateY(0);

}


/* =========================================
   CARD REVEAL
========================================= */

.card{

    opacity:0;

    transform:translateY(40px) scale(.96);

    transition:
        opacity .6s ease,
        transform .6s ease;

}

.card.show{

    opacity:1;

    transform:translateY(0) scale(1);

}


/* =========================================
   FADE
========================================= */

.fade{

    opacity:0;

    transform:translateY(40px);

    transition:1s;

}

.fade.show{

    opacity:1;

    transform:translateY(0);

}


/* =========================================
   ZOOM
========================================= */

.zoom{

    opacity:0;

    transform:scale(.9);

    transition:.8s;

}

.zoom.show{

    opacity:1;

    transform:scale(1);

}


/* =========================================
   FLOAT
========================================= */

.float{

    animation:float 5s ease infinite;

}

@keyframes float{

    0%{

        transform:translateY(0);

    }

    50%{

        transform:translateY(-15px);

    }

    100%{

        transform:translateY(0);

    }

}


/* =========================================
   BUTTON RIPPLE
========================================= */

button::after{

    content:"";

    position:absolute;

    top:50%;

    left:50%;

    width:0;

    height:0;

    border-radius:50%;

    background:rgba(255,255,255,.3);

    transform:translate(-50%,-50%);

    transition:.5s;

}

button:active::after{

    width:300px;

    height:300px;

}


/* =========================================
   DROPDOWN
========================================= */

@keyframes dropdown{

    from{

        opacity:0;

        transform:translateY(10px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}