/* =========================================
   DARK MODE
========================================= */

body.dark{

    --bg:#0f172a;

    --white:#111827;

    --text:#ffffff;

    --textLight:#cbd5e1;

    --border:#1e293b;

    background:var(--bg);

}


/* =========================================
   HEADER
========================================= */

body.dark header{

    background:rgba(15,23,42,.9);

    border-bottom-color:#1e293b;

}


/* =========================================
   HERO
========================================= */

body.dark .hero{

    color:var(--text);

}


/* =========================================
   CARD
========================================= */

body.dark .card{

    background:#111827;

    border-color:#1e293b;

}

body.dark .card h3{

    color:#fff;

}

body.dark .card p{

    color:#cbd5e1;

}


/* =========================================
   CATEGORY
========================================= */

body.dark .title h2{

    color:#fff;

}


/* =========================================
   NAVBAR
========================================= */

body.dark .navbar>a{

    color:#e5e7eb;

}

body.dark .navbar>a:hover{

    color:#60a5fa;

}


/* =========================================
   USER MENU
========================================= */

body.dark .user-menu:hover{

    background:#1e293b;

}

body.dark .dropdown{

    background:#111827;

}

body.dark .dropdown a{

    color:#fff;

}

body.dark .dropdown a:hover{

    background:#1e293b;

}


/* =========================================
   FOOTER
========================================= */

body.dark footer{

    background:#111827;

}

body.dark .footer-links a{

    color:#cbd5e1;

}

body.dark .footer-bottom{

    color:#94a3b8;

}