/* =========================================
   SECTION
========================================= */

section{

    margin-top:70px;

}


/* =========================================
   CONTAINER
========================================= */

.container{

    width:min(var(--container),92%);

    margin:auto;

}


/* =========================================
   SECTION SPACING
========================================= */

section:first-of-type{

    margin-top:0;

}

section:last-of-type{

    margin-bottom:70px;

}


/* =========================================
   SECTION TITLE
========================================= */

section h2{

    color:var(--text);

}


/* =========================================
   SECTION LINK
========================================= */

section a{

    transition:var(--transition);

}


/* =========================================
   RESPONSIVE
========================================= */

@media(max-width:992px){

    section{

        margin-top:60px;

    }

}

@media(max-width:768px){

    section{

        margin-top:50px;

    }

    .container{

        width:94%;

    }

}

@media(max-width:480px){

    section{

        margin-top:40px;

    }

    .container{

        width:95%;

    }

}